@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

/* ================================================== */

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #c4c4c4;
  font-weight: 500;
  /* background: #a4b0a4; */
}

.header__container {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  min-height: 100px;
}
.header__logo {
  color: #495057;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.38; /* 138.889% */
}

.header__logo::after {
  content: ".";
  color: #ddbea9;
}

.header__navigation {
}
.header__menu {
}
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
}
.menu__item {
}
.menu__link {
  position: relative;
  display: inline-flex;
  line-height: 2.08; /* 208.333% */
  transition: color 0.5s;
}
.menu__link:hover {
  color: #495057;
}

.active {
  color: #495057;
}

.menu__link::before {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #ddbea9;
  border-radius: 2px;
  transition: all 0.7s;
}

.menu__link.active::before {
  left: 0;
  width: 100%;
}

.menu__item:hover .menu__link::before {
  left: 0;
  width: 100%;
}

.header__social {
  display: flex;
  column-gap: 25px;
}
.social {
}
.social__list {
  display: flex;
  column-gap: 25px;
  border-right: 2px solid;
  height: 25px;
  align-items: center;
  padding-right: 20px;
}
.social__item:hover {
  left: 0;
  width: 100%;
}

.social__link {
  position: relative;
  display: inline-flex;
  line-height: 2.08; /* 208.333% */
  transition: color 0.5s;
}

.social__link:hover {
  color: #495057;
}

.social__item:hover .social__link::before {
  left: 0;
  width: 100%;
}

.social__link::before {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #ddbea9;
  border-radius: 2px;
  transition: all 0.7s;
}
.header__search {
  flex: 0 0 25px;
  background: url(../img/icons/search.svg) center no-repeat;
}

.main {
}
.main__container {
}
.main__slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.slider {
}
.slider__image {
}
.slider__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider__text {
  position: absolute;
  display: flex;
  gap: 15px;
  width: 605px;
  flex-direction: column;
  align-items: center;
}
.text-slider {
}
.text-slider__author {
  color: #e5e5e5;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
}
.text-slider__title {
  color: #f8f9fa;
  font-family: Poppins;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  line-height: 1.6; /* 160% */
  padding-left: 35px;
  padding-right: 35px;
  transition: color 0.5s;
}

.text-slider__title:hover {
  color: #ed7321;
}

.main__design {
}
.design {
}
.design__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  margin-bottom: 45px;
}
.design__title {
  max-width: 393px;
  color: #212529;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.6; /* 160% */
}
.design__filter {
}
.filter-design {
}
.filter-design__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 15px;
}
.filter-design__item {
}
.filter-design__link {
  line-height: 2.08;
  transition: color 0.5s;
}

.filter-design__link:hover,
.active {
  color: #212529;
}

.design__portfolio {
  display: flex;
}
.portfolio {
}
.portfolio__column {
  flex: 0 0 33.3333%;
  padding: 0 15px 15px;
}

.portfolio__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.portfolio__image {
  position: relative;
  display: block;
  overflow: hidden;
  padding-bottom: 63.613232%; /* 250/393 */
}

.portfolio__image img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.portfolio__date {
}
.portfolio__author {
}
