@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

body {
  background-color: gray;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}

.header {
  background-color: #fff;
}

.header__logo {
  display: inline-block;
  margin-right: 45px;
  vertical-align: middle;
}

.menu__item:first-child {
  position: relative;
  margin-right: 45px;
  padding: 9px 25px;
  border-radius: 5px;
}

.menu__item:first-child::after {
  content: "";
  position: absolute;
  background: url(../img/icons/arrow.svg) 0 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
  top: 40px;
  width: 11px;
  right: 9px;
  height: 6px;
}

.header__menu {
  display: inline-block;
  margin-right: 155px;
}

.menu__item:hover .sub-list {
  opacity: 1;
  visibility: visible;
  display: block;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  display: inline-block;
  font-weight: 600;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 1;
  color: #212b36;
}

.account__icons:nth-child(2)::before {
  content: "3";
  display: block;
  position: absolute;
  right: 42px;
  bottom: 16px;
  background-color: #3056d3;
  color: #fff;
  text-align: center;
  font-weight: 400;
  line-height: 1.3;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.account__icons:nth-child(3)::after {
  content: "1";
  display: block;
  position: absolute;
  right: -9px;
  bottom: 16px;
  background-color: #3056d3;
  color: #fff;
  text-align: center;
  font-weight: 400;
  line-height: 1.3;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.sub-list {
  position: absolute;
  min-width: 180px;
  top: 110%;
  left: -2px;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.5s;
  visibility: hidden;
}

.sub-list::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  border-radius: 2px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #fff;
}

.sub-list__item {
  position: relative;
  margin-bottom: 23px;
  font-size: 16px;
  font-weight: 500;
  color: #637381;
}

.sub-list__link {
  transition: all 0.5s;
}

.sub-list__link:hover {
  color: #3056d3;
}

.sub-list__item:last-child {
  margin-bottom: 0px;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.header__account {
  position: relative;
  display: inline-block;
}

.account__icons {
  display: inline-block;
  margin-right: 25px;
}

.account__icons:last-child {
  margin-right: 0;
}

.dropdown {
  position: absolute;
  border-radius: 5px;
  min-width: 190px;
  padding: 35px;
  left: 157px;
  top: 2px;
  margin-bottom: 12px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s;
  visibility: hidden;
}

.dropdown__item {
  color: #637381;
  margin-bottom: 18px;
}

.dropdown__item:first-child {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1;
  color: #212b36;
}

.sub-list__item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  display: block;
}

.dropdown__link {
  transition: all 0.5s;
}

.dropdown__link:hover {
  color: #3056d3;
}

.dropdown__item:last-child {
  margin-bottom: 0px;
}
